@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


h1 {
    text-align: center;
    margin-top: 25px;
    font-family: 'Londrina Solid', sans-serif;
    font-size: 36px;
    color: #006140;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h2 {
    text-align: justify;
    text-indent: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

h3 {
    font-family: 'League Gothic', sans-serif;
    padding-left: 15px;
}

body {
    background-image: url("/src/img/footprint.png");
    background-color: #FFFFE0;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;    
}

a:link {
    text-decoration: none;
    color: #000000;
}

a:visited {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #000000;
}

.ods {    
    display: inline-flex;
    overflow: hidden;
    padding-left: 75%;
}

.imagemOds{
    width: 60px;
    height: 60px;
}

.botao {
    font-family: 'Londrina Solid', sans-serif;
    font-size: 24px;
    background-color: #006140;
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 150px;
}

.botao:hover {
    background-color: rgba(0, 97, 69, 0.8);
}

.imagem {
    width: 100%;
    height: 100%;
    float: left;    
}

.container {
    margin: 0;
    padding: 0;
    display: flex;
    
}

.rdp {
    margin-top: 350px;
    display: flex;
}

.bt{
    font-family: 'Londrina Solid', sans-serif;
    font-size: 24px;
    background-color: #006140;
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 25px;
    margin-bottom: 20px;
}